.home-button{
	display:inline-block;
	position:relative;
	font-size:14px;
	width:100px;
	padding:10px;
	margin:10px auto;
	background:#fff;
	border:5px solid transparent;
	box-shadow:0 0 0 1px inset #a1a1a1, 2px 2px 6px -1px rgba(0,0,0,0.5);
	outline   :1px solid       #a1a1a1;
	cursor:pointer;
	font-family:'Lora', serif;
}

.home-button:hover{
	background  :#F2EDFF;
	border-color:#E1D6FF;
}

.home-button .curly-line-break{
	position:absolute;
	pointer-events:none;
	margin:auto;
	top:10px;
	bottom:0;
	height:90px;
	left:-107px;
	opacity:0.5;
}

.home-button .curly-line-break:nth-child(2){
	left : auto;
	right:-107px;
	transform:scaleX(-1);
}

@media (max-width: 550px){
	.home-button .curly-line-break{
		height:53px;
		left:-73px;
	}

	.home-button .curly-line-break:nth-child(2){
		right:-73px;
	}
}